/* ====================================================================
   ERROR MESSAGES
==================================================================== */

.error-message {
    background-color: #ff5252;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}
